<!--Filters Window-->
<div class="modal fade dark medium" id="filters" role="dialog" aria-labelledby="filtersLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="filtersLabel"><i class="fa fa-filter"></i> &nbsp; <%- lang['Filters'] %></h4>
      </div>
      <div class="modal-body">
          <div class="text-center msg"></div>
          <div class="form-group-group green">
                <h4><%- lang['Saved Filters'] %> : <small class="filter_name"></small></h4>
                <div class="form-group">
                    <label>
                        <div><select class="form-control" id="saved_filters">
                        </select></div>
                    </label>
                </div>
              <div class="form-group">
                    <label><div><span><%- lang['Filter Name'] %></span></div>
                        <div><input class="form-control" name="id" type="hidden">
                        <input class="form-control" name="name"></div>
                    </label>
                </div>
          </div>
          <div class="form-group-group blue where">
              <h4><%- lang['Find Where'] %>
                <div class="pull-right">
                    <a class="btn btn-default btn-xs add">&nbsp;<i class="fa fa-plus"></i>&nbsp;</a> 
                    <a class="btn btn-danger btn-xs remove">&nbsp;<i class="fa fa-minus"></i>&nbsp;</a>  
                </div>
              </h4>
              <div id="filters_where">
              </div>
                <h4><%- lang['Sort By'] %></h4>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>
                            <div><select class="form-control" name="sort_by">
                                <option value="time" selected><%- lang['Start Time'] %></option>  
                                <option value="end"><%- lang['End Time'] %></option>  
                                <option value="mid"><%- lang['Monitor ID'] %></option>
                                <option value="ext"><%- lang['File Type'] %></option>  
                                <option value="size"><%- lang['Filesize'] %></option>  
                                <option value="status"><%- lang['Video Status'] %></option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>
                            <div><select class="form-control" name="sort_by_direction">
                                <option value="ASC" selected><%- lang['ASC'] %></option>  
                                <option value="DESC"><%- lang['DESC'] %></option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>
                            <input class="form-control" title="Row Limit" placeholder="Row Limit" name="limit">
                        </label>
                    </div>
                </div>
          </div>
          <div class="form-group-group red">
                <h4><%- lang['Action for Selected'] %></h4>
                <div class="form-group">
                    <label><div><span><%- lang['Enabled'] %></span></div>
                            <div><select class="form-control" name="enabled">
                                <option value="0" selected><%- lang['No'] %></option>  
                                <option value="1"><%- lang['Yes'] %></option>  
                                </select></div>
                    </label>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 hidden">
                        <label><div><span><%- lang['Archive'] %></span></div>
                            <div><select class="form-control" name="archive">
                                <option value="0" selected><%- lang['No'] %></option>  
                                <option value="1"><%- lang['Yes'] %></option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-12">
                        <label><div><span><%- lang['Email Details'] %></span></div>
                            <div><select class="form-control" name="email">
                                <option value="0" selected><%- lang['No'] %></option>  
                                <option value="1"><%- lang['Yes'] %></option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-12">
                        <label><div><span><%- lang['Delete Matches'] %></span></div>
                            <div><select class="form-control" name="delete">
                                <option value="0" selected><%- lang['No'] %></option>  
                                <option value="1"><%- lang['Yes'] %></option>  
                                </select></div>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label><div><span><%- lang['Execute Command'] %></span></div>
                        <div><input class="form-control" name="execute"></div>
                    </label>
                </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%- lang['Close'] %></button>
            <button type="button" class="btn btn-danger delete"><%- lang['Delete'] %></button>
          </div>
        <button type="submit" class="btn btn-success"><%- lang['Save'] %></button>
      </div>
    </form>
  </div>
</div>